:root {
  --color-gray: #757575;
  --color: #212121;
  --social-color: #afb1b8;
  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --border-color: #ececec;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --main-font-family: "Roboto";
  --second-font-family: "Raleway";
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--color);
  background-color: var(--background-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

label {
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
/*======= Header =======*/

.header {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
}

.main-logo-blue {
  color: var(--accent-color);
  font-family: var(--second-font-family);
}

.main-logo {
  margin-right: 120px;
  color: var(--color);
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list {
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  color: var(--color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}

.header-item-active {
  position: relative;
  color: var(--accent-color);
}

.header-item-active::after {
  content: "";

  position: absolute;
  bottom: -35px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.contact-link {
  display: block;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link-item:not(:first-child) {
  margin-left: 50px;
}

.contact-link-item {
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.link-icon {
  fill: var(--color-gray);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contact-link-item:hover .link-icon,
.contact-link-item:focus .link-icon {
  fill: var(--accent-color);
}

.contact-link-item:hover,
.contact-link-item:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/*============ Main ============*/

.main-top {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 100%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--third-background-color);

  padding: 200px 0;
  text-align: center; /* center text and all inline element inside this block*/
}

.main-title {
  max-width: 695px;
  margin: 0 auto 30px;
  color: var(--background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  cursor: pointer;
  font-family: var(--main-font-family);
  color: var(--background-color);
  background: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 30px;
}

/* ==== Modal ==== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.modal-item-name {
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.form {
  text-align: center;
  align-items: center;
  padding: 0 40px;
}

.form-field {
  position: relative;
}

.form-lable {
  display: flex;

  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--color-gray);
}

.form-input {
  margin-top: 4px;
  padding: 10px 40px;
  font: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
}

.form-icon {
  display: inline-block;
  content: "";
  position: absolute;
  fill: var(--color);
  top: 40px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.form-input:focus-within {
  border-color: var(--accent-color);
}

.form-field:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  resize: none;
  outline: none;

  width: 448px;
  height: 120px;

  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea:focus-within {
  border-color: var(--accent-color);
}

.form-textarea::placeholder {
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 100%;

  justify-content: center;
  padding-top: 20px;

  font-family: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-gray);
}

.lable-checkbox {
  display: block;
  margin-right: 5px;
  padding: 0;
}

.check-icon {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--color);
  border-radius: 2px;
}

.checkbox-link {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--accent-color);
}

.checkbox:checked + .check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.button-submit {
  cursor: pointer;

  margin-top: 40px;
  padding: 10px 55px;

  font-size: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-submit:hover,
.button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-container {
  position: absolute;
  top: 8px;
  left: 490px;
}

.button-close {
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--background-color);
}

.icon-close {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--background-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.icon-close:hover {
  fill: var(--accent-color);
}

/*======== Main-Features ======== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;

  padding-left: 0;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item::before {
  display: block;
  content: "";

  height: 120px;

  background: var(--second-background-color);
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;
}

.icon-antenna::before {
  background-size: 70px;
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-size: 70px;
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-size: 70px;
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-size: 70px;
  background-image: url("../images/astronaut.svg");
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-name-about {
  color: var(--color-gray);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*===== Services Чем мы занимаемся =====*/

.service {
  padding-top: 0;
}

.section-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.services-list {
  list-style: none;
  display: flex;
}

.services-list-item:not(:last-child) {
  margin-right: 30px;
}

.services-list-item {
  position: relative;
}

.services-name {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
}

/*======= Team =======*/

.team {
  background: var(--second-background-color);
}

.team-list {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.team-container {
  padding: 30px 0;
}

.team-list-item {
  background-color: var(--background-color);

  max-width: 270px;
  box-shadow: var(--color-gray);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.18;

  margin-bottom: 10px;
}

.position {
  color: var(--color-gray);

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.18;
}

.social-team {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.social-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-color);

  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.card-icon {
  fill: var(--social-color);
  width: 20px;
  height: 20px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-card:hover,
.social-card:focus {
  background-color: var(--accent-color);
}

.social-team .item:not(:last-child) {
  margin-right: 10px;
}

.social-card:hover .card-icon,
.social-card:focus .card-icon {
  fill: var(--background-color);
}

/*====== Clients ====== */

.clients-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.clients-list .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;

  transition-property: border, background, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.client-icon {
  fill: var(--social-color);
  width: 106px;
  height: 60px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list .link:hover .client-icon,
.clients-list .link:focus .client-icon {
  fill: var(--accent-color);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

/*====== Portfolio ======*/

.button-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.button-portfolio {
  cursor: pointer;

  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;

  transition-property: font-family, box-shadow, background, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  font-family: var(--main-font-family);
  color: var(--background-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*===== Features Portfolio =====*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: 370px;

  margin-right: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.overlay > p {
  color: var(--background-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
}

.portfolio-item-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-about {
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

.portfolio-list .link {
  display: block;
  color: var(--color);

  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .link:hover .overlay,
.portfolio-list .link:focus .overlay {
  transform: translateY(0);
}

.portfolio-container {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

/*======= Footer =======*/

.footer {
  padding: 60px 0;
  background: var(--third-background-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.main-logo-footer {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--background-color);

  margin-bottom: 30px;
}

.footer-list {
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contact-mail-footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contact-tel-footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contact-mail-footer:hover,
.contact-mail-footer:focus {
  color: var(--accent-color);
}

.contact-tel-footer:hover,
.contact-tel-footer:focus {
  color: var(--accent-color);
}

.footer-link {
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.central-box {
  margin-left: 70px;
}

.social-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-social {
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-social .team {
}

.button-icon {
  fill: var(--background-color);
  width: 20px;
  height: 20px;
}

.button-social:hover,
.button-social:focus {
  background-color: var(--accent-color);
}

.right-box {
  padding-left: 93px;
}

.right-thumb {
  display: flex;
}

.footer-input {
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  width: 358px;
  height: 50px;

  padding-left: 16px;
  outline: none;

  color: var(--footer-contact-color);
  background-color: var(--third-background-color);
  border: 1px solid var(--footer-contact-color);
}

.footer-button {
position: relative;
  cursor: pointer;
  font-family: var(--main-font-family);
  color: var(--background-color);
  background: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe {
 padding-right: 10px;
}

.icon-send {
  position: absolute;
  
  content: "";
  width: 24px;
  height: 24px;
}
